
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  font-family: sans-serif;
  background: #ffffff;
  height: 100%;
  font-family: "SolaimanLipi", Arial, sans-serif; !important
}


a, a:hover, a:active, a:link, a:visited {
  text-decoration: none !important;
  color: black;
 
}



/* a{
    text-decoration: none !important;
    color: black !important;
}


.subnav {
  width: 90%;
  margin: 0 auto;

  z-index: 3;
  display: flex;
  justify-content: space-between;
  text-align: center;
}







.no-shadows {
  border: none !important;
  background: #ededed !important;
  box-shadow: 5px 5px 13px #e4e4e4, -5px -5px 13px #f6f6f6 !important;
  transition: ease-in 3s !important;
}

.icon {
  width: 23px;
}

.itema {
  background: #ededed;
  box-shadow: 5px 5px 13px #e4e4e4, -5px -5px 13px #f6f6f6;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid rgb(186, 188, 194);
  border-radius: 5px;
}

.bottom-nav {
  z-index: 455;
  position: fixed;
  bottom: 0px !important;
  border: none !important;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  text-align: center;
  height: 60px;
}
.bottom {
  margin-top: 8px;
  padding-top: 0px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bottom p {
  font-size: 13px;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}





/* IQ List er css ekhne hbe */

/*   
.question-container {
  width: 1000%;
  margin-left: 80px;
}




.iqlisticon{
  width: 23px;
}

.iqlisttext{
  padding-left:10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

ul.iqlistbar:hover{

background-color: rgb(255, 230, 161);

}


.iqlistbar{
  list-style-type: none;
  display:flex;
  flex:row;
  padding:8px;
  box-shadow: rgba(104, 104, 104, 0.123) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border-radius:5px;
  margin-top:5px;
}



/* iq landing page css */

/* 

.icon-back {
  margin-top: 8px;
  height: 23px;
  width: auto;
}

.top-nav {
  z-index: 455;
  position: fixed;
  top: 0px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: #ffffff;
}

.bottom {
  padding-top: 0px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bottom p {
  font-size: 13px;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}


div.top-bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
}

.questions-box {
  margin: 80px 20px 0px 20px;
  word-wrap: break-word;
  border-radius: 4px;
  padding-bottom: 80px;
}


.qcontainer {
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  font-size: 14px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: 'SolaimanLipi', Arial, sans-serif !important;
}

.explain {
  padding: 7px;
  background-color: rgb(197, 255, 223);
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
}

.hideExplain{
  display: none;
}

div.explasec div:nth-child(2) {
  background-color: rgba(255, 225, 142, 0.635);
}
.easynav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  padding: 7px;
  border-radius: 5px;
 
}

.easynav p {
  border-radius: 3px;
  background-color: rgb(247, 221, 227);
  margin: 1px;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
}

.timer {
  position: fixed;
  bottom: 80px;
  right: 30px;
  background: rgb(238 238 238 / 94%);
  color: black;
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 13px;
}

#iqpic{
  width: 100%;
}


.submit{
  margin: auto 0px;
  padding: 5px 10px;

  background-color: rgb(158, 246, 201);
}


/* practice ppdt css */
/* .practice_ppdt {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgb(255, 255, 255);
  padding: 10px 8px 10px 8px;
  margin: 10px;
  border-radius: 5px;
}

.ppdtimg {
  width: 100%;
 
}


.start_time_tips {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.barlist {
  background: rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  font-size: 15px;
}
.button1 {
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  padding: 5px 35px 5px 35px;

  margin: 0px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.icon2 {
  width: 15px;
}  */
 




/* ------TOP NAV-------- */


.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 15px 15px 10px 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  z-index: 34;
}

#top-nav-left{
  
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  }

  #top-nav-left:hover{
    background-color: #f1f1f1;
  }
  #top-nav-icon-issb {
    margin-top: 2px;
    height: 40px;
    width: auto;
  }
/* top AREA DESIGN CSS */
.slideimg {
height: 235px;
width: 100%;
object-fit: cover;
}


.banner {
height: auto;
width: 95%;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
margin: 99px auto 0px;
border-radius: 10px;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;

margin-bottom: 33px;
}
.banner div{
  padding:30px 10px 10px 10px;
}



/* headTile section */
.head-title-caption {
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  font-family: "Hind Siliguri";
  font-size: 18px;
  color: rgb(27, 151, 91);
  font-weight: bold;
}
.head-title {
  margin: 0 auto;

}



/* myfav tabbing system */
.tab-container {
  width: 95%;
  margin: 0px auto;
  height: auto;
}

.tabsa {
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 13px #e4e4e4, -5px -5px 13px #f6f6f6;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 8px 0;
  padding-bottom: 2px;
  z-index: 333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 13px;
  border: 1px solid rgb(229 229 229);
}

.tab-1 {
  margin-right: 2px;
  border-bottom: 3px solid #ffffff;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(237, 237, 237);
  border-top: 3px solid rgb(87 97 92 / 54%);
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgba(87, 97, 92, 0.54);
  background-color: rgb(255 255 255);
}
.tab-2 {
  margin-right: 2px;
}
.tab-3 {
  margin-right: 1px;
  display: none;
}
.tab-4 {
  margin-left: 1px;
}

.tabs i {
  margin-right: 2px;
}
.con {
  border: 1px solid rgb(239, 239, 241);
  position: relative;
  bottom: 1px;
  height: auto;
}
.tab-con1 {
  height: auto;
  background: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
 border-radius: 10px;
  padding: 7px;
  width: 95%;
  margin: 0px auto;
}

.tab i{
color: rgb(36, 36, 36) !important;
}
.tab span{
  color: rgb(84, 84, 84)!important;

}


/* Main body tabbing css */



div.accordion {
width: 100%;
background: #ffffff!important;
border: 1px solid #e6e6e6;
outline: none;
text-align: left;
padding: 18px 15px;
font-size: 14px;
color: #444;
cursor: pointer;
transition: background-color 0.2s linear;
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: center;
border-radius: 10px;

}



.accordion-content {


max-height: 0;
overflow: hidden;

transition: max-height 0.3s ease-in-out;
background-color: #ffffff;
display: flex;
flex-direction: column;




}
.accordion-content a{
  border: 1px dashed #e6e6e6;
  border-radius: 5px;
  width: 100%;
  padding: 7px 15px;
  width:85%;
  margin: 4px auto;
  font-size: 14px;
  color: #5b5b5b;

  
}
.accordion-content a:hover{
  background:#f1f1f1;
  cursor: pointer;
}

.accordion-content a:last-child{
margin-bottom:20px;
}
.accordion-content a:first-child{
margin-top:20px;
}
.tabcontent{
margin: 8px;

}

.accordion img{
  width: 22px;
  margin-right: 10px;
}


/* bottom nav css */

nav.bottom-nav{
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background: rgb(255 255 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px 8px 10px;
  width: 100%;

}

.nav-item i{
  font-size: 20px;
color: rgb(53, 53, 53);
margin-bottom:5px;
}

.nav-item span{
  font-size: 12px;
color: rgb(8, 8, 8);
}

/* ripple effect */

.ripple {
background-position: center;
transition: background 0.8s;
}

.ripple:hover{
background-color: #e4e4e4;
background-image: radial-gradient(circle,transparent 1%,#e4e4e4 1%);
background-position: center;
outline: none;
border-radius: 50px;
background-size: 15000%;
}

.ripple:active{
transition: background 0s;
background-color: #949494;    
background-size: 100%;
}


/* DAY wise alignment */
span.mid-align {
text-align: center !important;
color: rgba(255, 255, 255, 0.772);
font-weight: 100;
font-size: 17px;
}


.day_body {
padding: 10px 10px;
text-align: center;
border-radius: 7px;
background: rgb(31, 32, 36);
background: linear-gradient(
  90deg,
  rgba(31, 32, 36, 1) 0%,
  rgba(32, 21, 38, 1) 60%
);
}

















/* ---------------------Lesson VIdeo CSS-------------------- */

.lecture {

display:flex;
justify-content: flex-start;
align-items: center;
padding: 10px 15px 10px 15px;
margin-bottom: 5px;
border-radius: 0px;
font-size: 14px;
width: 100%;
transition: background 0.5s;
font-family: 'SolaimanLipi', Arial, sans-serif !important;
}
.lecture:hover{
  background:#f1f1f1;
  cursor: pointer;

}
.lecture i{
font-size: 18px;;
margin-right: 10px;
  
} 


#menuicon {
 padding: 4px 8px;
 position: fixed;
 bottom: 80px;
 right: 20px;
 font-size: 20px;
 border-radius: 70%;
  background:white;
 border: 1px solid rgb(255, 255, 255);
 background-color: rgba(255, 255, 255,0.8);
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 cursor: pointer;
}

#menuicon:hover {
color:#312070;
 }

#floatingMenu{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  bottom: 130px;
  right: 20px;
  
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  min-width: 250px;
  background: white;
  font-size: 13px;
  display: none;
}

#floatingMenu ul>li i{
  
  padding: 11px;
}


#floatingMenu ul>li{
  list-style: none;
  border-radius: 4px;
  max-width: 400px;
  min-width: 250px;
  transition: background 0.3s;
  transition: color 0.3s;

}
#floatingMenu ul>li:hover{
  background: #7134ff;
  color: white;
}


#floatingMenu {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3 ease-in-out;
}
#floatingMenu.fade {
  opacity:0;
}


#militarian{
  color: black!important; 
}








/*------------- practiceppdt page css--------------------- */

.ppdt_items{
  border: 1px solid #e8e8e8;
   border-radius: 5px;
  
   margin: 20px 10px 20px 10px;
   padding-bottom: 20px;
 }
 .ppdtimg {
   width: 100%;
   border-radius: 5px;
  
 }
 
 .ppdtcontrols{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
 }
 
 .ppdtcontrols div{
   border: 1px solid #e8e8e8;
   padding: 5px 20px 5px 20px;
   border-radius: 5px;
  
 }

 .ppdtIdea{
  padding: 15px 10px 0px 10px;
  
  font-size: 13px;
 }




 /* ----------------------Content page Css------------------------ */

 .qcontainer {
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
  margin: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: 'SolaimanLipi', Arial, sans-serif !important;
  text-align: justify;
}

.explain {
  padding: 7px;
  background-color: rgb(197, 255, 223);
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
}





/* -----------profile page --------------- */

.profile_img{
  width: 80px;
  border-radius: 50%;
  border: 2px solid rgb(0, 162, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
margin-bottom: 30px;
}

#profile-form{
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
}

#profile-form > label{

  font-size: 15px;
margin-bottom: 5px;
}

#profile-form > input{

outline: none;
padding: 10px 15px;
border: 1px solid rgb(224, 224, 224);
margin: 0px auto;
width: 100%;
border-radius: 5px;
font-size: 15px;
margin-bottom: 15px;
color: #7b7b7b; 
}
#profile-form > select{
  outline: none;
  padding: 10px 15px;
border: 1px solid rgb(224, 224, 224);
margin: 0px auto;
width: 100%;
border-radius: 5px;
font-size: 15px;
margin-bottom: 15px;
color:  #7b7b7b;
}
#profile-form > option{
width: 100%;
border-radius: 5px;
font-size: 15px;

}